<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 vertically_shift_elements">

    <h3> SIMPLE URL SHORTENER </h3>

    <%= form_for(@url) do |f| %>

      <div class="form-group">

          <div class="row">

             <div class="col-sm-10">        
                <span> <%= f.text_field :original_url, placeholder: "Paste a link to shorten it", value: @shortened_url.try(:shortened_url), id: "copy_input", class: "form-control url_element" %> </span>
                <span class="url_error"> <%= @url.errors.messages[:original_url][0]%> </span>                  
             </div>

                    
             <div class="col-sm-2 url_element">

              <% if @url_id.nil? %>             
                <%= f.submit "SHORTEN", class: "btn btn-primary" %> 
              <% end %>

              <% if @url_id %>              
               <%= link_to("Copy", "", id: "copy_button", class: "btn btn-warning") %>
               <%= link_to("New", "/urls/new", class: "btn btn-success margin_top") %>
              <% end %> 

             </div>  

          </div>
          
      </div>

    <% end %>

  </div>

  <div class="col-sm-4"></div>

</div>